body {
     background-color:#E3EFFF;
     text-align:center;
     font-family: 'Quicksand', sans-serif;
     font-size: 20px;
     color: #020407;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

h3{
   font-family: 'Quicksand', sans-serif; 
}
.section {
  padding: 4rem 0 3rem;
  text-align: center;
}

