{% extends "template.html" %}
{% block content %}
	<div class="section">
    <div class="container">
      <div class="row">        
        <h3>How would you like this labeled?</h3>        
      </div>
      <div class="row">        
        <button>Blouse</button>
        <button>Cardigan</button>
        <button>T-Shirt</button>
        <button>Long Sleeve</button>
        <button>Sweater</button>
        <button>Tank</button>       
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">        
        <h4>or type:</h4>        
      </div>
      <div class="row">    
        <input class="u-full-width" type="text">        
      </div>
    </div>
  </div>
{% endblock %}