{% extends "template.html" %}
{% block content %}
	<div class="section">
    <div class="container">
      <div class="row">        
        <h1>Add Clothing</h1>        
      </div>
    </div>
  </div>

	<div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Take Picture</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>From Photos</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Online</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}