<!DOCTYPE HTML>
<head>
  <link type="test/css" rel="stylesheet" href="../static/main.css"/>
      <link href="../static/main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">  
</head>
<body>
  <center>
    <h1>Lit Fits</h1>
    <h3>Make Your Fit-ty's Deadass Litty</h3>
  </center>
</body>

