<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">  

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Outfit Maker</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Closet</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Saved Looks</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Friends</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Add Clothing</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Add Accessories/Shoes</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Calendar</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Update Style</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Update Profile</h3>
        </div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
