{% extends "template.html" %}
{% block content %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="../static/images/20170218_150603.jpg" style="width:16rem;height:16rem">
          <h3>Outfit Maker</h3>
        </div>
        <div class="four columns">
          <img src="../static/images/20170218_151514.jpg" style="width:16rem;height:16rem">
          <h3>Closet</h3>
        </div>
        <div class="four columns">
          <img src="../static/images/20170218_154138.jpg" style="width:16rem;height:16rem">
          <h3>Saved Looks</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="../static/images/friends.jpg" style="width:16rem;height:16rem">
          <h3>Friends</h3>
        </div>
        <div class="four columns">
         <a href="/addclothing"> <img src="../static/images/20170218_152645.jpg" style="width:16rem;height:16rem"> </a>
          <h3>Add Clothing</h3>
        </div>
        <div class="four columns">
          <img src="../static/images/20170218_150612.jpg" style="width:16rem;height:16rem">
          <h3>Add Accessories/Shoes</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="../static/images/calendar.jpg" style="width:16rem;height:16rem">
          <h3>Calendar</h3>
        </div>
        <div class="four columns">
          <img src="../static/images/20170218_154723.jpg" style="width:16rem;height:16rem">
          <h3>Update Style</h3>
        </div>
        <div class="four columns">
          <img src="../static/images/20170218_151434.jpg" style="width:16rem;height:16rem">
          <h3>Update Profile</h3>
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="container">
	<div class="row">
	  <a class="button button-primary" href="/logoff">Log-Off</a>
	</div>
      </div>
    </div>
    
  </div>

{% endblock %}
