{% extends "template.html" %}
{% block content %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Outfit Maker</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Closet</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Saved Looks</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Friends</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Add Clothing</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Add Accessories/Shoes</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Calendar</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Update Style</h3>
        </div>
        <div class="four columns">
          <img src="http://i.imgur.com/q3zq1zv.png" style="width:16rem;height:16rem">
          <h3>Update Profile</h3>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
